html * {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
:root {
    --color: rgb(26, 23, 65);
  }
  

.form {
    text-align: center;
    margin-top: 120px;
}
.input {
	padding-left: 20px;
	padding-right: 20px;
    width: 500px;
    height: 40px;
    margin: 10px;
    border-style: solid;
    border-color: var(--color);
    border-radius: 25px;
}
.button {
    width: 250px;
    height: 40px;
    margin: 10px;
    text-align: center;
    color: var(--color);
    border-style: solid;
    border-color: var(--color);
    border-radius: 20px;
}
.button:Hover {
	background-color:var(--color);
    color: white;
}
.title {
    color: var(--color);
	font-size: 140px;
    margin: 30px;
}
.image {
	position: absolute;
    left: 30px;
    top: 30px;
    color: var(--color);
}
.advanced {
	position: absolute;
    left: 1100px;
    top: 30px;
    color: var(--color);

}
.word {
    position: absolute;
    top: 240px;
    left: 550px;
}